@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';

@theme {
    --font-display: 'Manrope', sans-serif;
    --font-sans: 'Inter', sans-serif;
    --color-primary: #3b82f6;
    --color-secondary: #64748b;
    --color-success: #10b981;
    --color-danger: #ef4444;
    --color-warning: #f59e0b;
}

body {
    margin: 0;
    font-family:
        'Inter',
        system-ui,
        -apple-system,
        sans-serif;
}
